<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-back-button text="" icon="close-circle" style="color: black;">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="container">
      <h1>iCreator Conference 2019</h1>
      <span class="subtext">Work you have to do <span class="mark-text">Beness!!</span> </span>
    </div>
    <ion-buttons slot="end">
      <ion-button style="padding: 0; color: black;">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img style="  object-fit: cover;" src="https://p-u.popcdn.net/hero_images/desktop_images/000/000/167/medium/755343b1dccf14b8ac4d627c8bc1180410c991f3.jpg%20-strip?1577639563" />

</ion-content>