<ion-header >
  <ion-toolbar >
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="time"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>
<ion-content>
  <div class="ion-padding content-container">
   
  </div>
</ion-content>
