<ion-content>
  <div class="container">
    <div class="logo">
      
      <img src="https://sv1.picz.in.th/images/2020/01/06/RNVm2k.png" alt="RNVm2k.png" border="0" />
    </div>
    <h2 class="title">Welcome to msily</h2>
    <p>log in your existing account</p>

   
      <ion-input type="email" placeholder="Email" [(ngModel)]="email" ></ion-input>
    
      <ion-input type="password" placeholder="password" [(ngModel)]="password" >
      <!-- <ion-icon  size="small"  name="lock" slot="start"></ion-icon> -->
      </ion-input>
   
      <ion-button class="sigin" block (click)="prosesLogin()" >Sign In</ion-button>
      <br>
      <h6>Or connect using</h6>

      <ion-buttons  slot="primary">
      <ion-button  class="sigin-f" block style="background: #124AE5;">Facebook</ion-button>
      <ion-button class="sigin-g" block style="background: #ffffff; border: 1px solid #6F6F6F;;">Google</ion-button>
    </ion-buttons>

    <h5>New user? <a (click)="formRegister()"> Create an account</a></h5>



  </div>
</ion-content>