h1{
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: 30px;
    font-weight: 800 !important;
}
.subtext{
    font-size: 18px;
    color: #86868F;
}
.destext{
    font-size: 16px;
    color: #86868F;
}
.container{
    padding: 50px 20px 20px 20px;
   
}
.swiper-zoom-container{
    text-align: left;
}
.containers{
    padding: 0px 20px 20px 20px;
   
}