@import  url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

h1{
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: 30px;
    font-weight: 800 !important;
}
h3{
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 18px;
    font-weight: 600 !important;
}
.subtext{
    font-size: 16px;
    color: #86868F;
}
.container{
    padding: 30px 20px 20px 20px;
   
}
.containers{
    padding: 0px 20px ;
   
}
.swiper-zoom-container{
    text-align: left;
}
.container_slide{
    margin-left: -20px;
   
}
.slide-overleb {
    position: fixed;
    bottom: 0px;
    padding-bottom: 3px;
}



ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
 
.category-block {
    margin-bottom: 4px;
}
 
.category-banner {
    border-left: 8px solid var(--ion-color-secondary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}
// .header-ios ion-toolbar:last-child {
//     --border-width: 0px;
// }