<ion-header>
  <ion-toolbar>
    <ion-title>editprofileemployer {{id}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Cancle">
      </ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="https://f.ptcdn.info/192/066/000/pylequ8eqfyBoV5jx8B-o.jpg">
  </ion-avatar>
  <div class="center">
      <a >
        upload image
      </a>

  </div>
<hr style="border-top: 1px solid #E2E2E2; margin-top: 30px;">
  <div class="container">

    <ion-input type="text" [(ngModel)]="employ_id" value="{{id}}"></ion-input>
    <p>Firstname</p>
    <ion-input type="text" placeholder="Firstname" [(ngModel)]="fname"></ion-input>
    <p>Lastname</p>
    <ion-input type="text" placeholder="Lastname"  [(ngModel)]="lname"></ion-input>
    <p>Location</p>
    <ion-input placeholder="Location" [(ngModel)]="location"></ion-input>

    <p>infomation</p>
    <ion-textarea  placeholder="infomation"  [(ngModel)]="info"></ion-textarea>



    <ion-input type="text" placeholder="img_profile"  [(ngModel)]="img_profile"></ion-input>




 
     <!-- <ion-button style="width: 100%; margin-top: 30px;" text="Accept" (click)="createdProses()">Accept</ion-button>-->

      <ion-button expand="block" padding color="tertiary"  (click)="createdProses()" fill="outline">Accept
      </ion-button>
      <ion-button expand="block" padding color="tertiary" *ngIf="employer_id>=1" (click)="updateProses()" fill="outline">Update
      </ion-button>


    <!-- <ion-button color="tertiary"  (click)="createdProses()">Submit</ion-button>
    <ion-button class="sigin" block (click)="createdProses()" >Sign In</ion-button> -->
    <!-- <ion-button expand="block" padding color="tertiary" *ngIf="id>=1" (click)="updateProses()" fill="outline">Update
    </ion-button> -->
  </div>

  
</ion-content>