<ion-header>
  <ion-toolbar>
    <ion-title>Create Profile {{id}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Cancle">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


      <div class="container">
        <h4>1. General information</h4>
        <ion-input type="text" [(ngModel)]="mcs_id" value="{{id}}"></ion-input>
        <p>Firstname</p>
        <ion-input type="text" placeholder="Firstname" [(ngModel)]="fname"></ion-input>
        <p>Lastname</p>
        <ion-input type="text" placeholder="Lastname" [(ngModel)]="lname"></ion-input>
        <p>Phone</p>
        <ion-input type="tel" placeholder="Telephone"  maxlength="10" minlength="10" [(ngModel)]="phone"></ion-input>
        <p>Location</p>
        <ion-input placeholder="Location" [(ngModel)]="location"></ion-input>
    
        <ion-grid>
          <ion-row>
            <ion-col style="padding: 0px;">
              <p>Budget</p>
              <ion-input type="number" placeholder="xxxx"  [(ngModel)]="lowest_wage">
              </ion-input>
            </ion-col>

            <ion-col style="padding: 0 0 0 20px;">
              <p>Budget</p>
              <ion-input type="number" placeholder="xxxx" [(ngModel)]="highest_wage">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="padding: 0px;">
              <p>Gender</p>
              <ion-select interface="action-sheet" placeholder="Select One" [(ngModel)]="gender">
                <ion-select-option value="1">Male</ion-select-option>
                <ion-select-option value="2">Female</ion-select-option>
                <ion-select-option value="3">bai</ion-select-option>
                <ion-select-option value="4">Orange</ion-select-option>
                <ion-select-option value="5">Green</ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col style="padding: 0 0 0 20px;">
              <p>Age</p>
              <ion-input type="number" placeholder="Age" [(ngModel)]="age"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="padding: 0px;">
              <p>Weigth</p>
              <ion-input type="number" placeholder="Weigth" [(ngModel)]="weight"></ion-input>
            </ion-col>

            <ion-col style="padding: 0 0 0 20px;">
              <p>Hight</p>
              <ion-input type="number" placeholder="Hight" [(ngModel)]="height"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="padding: 0px;">
              <p>Shape</p>
              <ion-select interface="action-sheet" placeholder="Select One" [(ngModel)]="shape">
                <ion-select-option  value="1">Slim</ion-select-option>
                <ion-select-option  value="2">Slender</ion-select-option>
                <ion-select-option  value="3">Fat</ion-select-option>
                <ion-select-option  value="4">Tubby</ion-select-option>
                <ion-select-option  value="5">Plump</ion-select-option>
                <ion-select-option  value="6">Stocky</ion-select-option>
                <ion-select-option  value="7">Bonny</ion-select-option>
                <ion-select-option  value="8">Thin</ion-select-option>
                <ion-select-option  value="9">Skinny</ion-select-option>
              </ion-select>
            </ion-col>

            <ion-col style="padding: 0 0 0 20px;">
              <p>Skin</p>
              <ion-select interface="action-sheet" placeholder="Select One" [(ngModel)]="skin">
                <ion-select-option  value="1">Very fair skin</ion-select-option>
                <ion-select-option  value="2">Fair skin</ion-select-option>
                <ion-select-option  value="3">Yellow skin</ion-select-option>
                <ion-select-option  value="4">bicolor skin</ion-select-option>
                <ion-select-option  value="5">brown skin</ion-select-option>
                <ion-select-option  value="6">black skin</ion-select-option>

              </ion-select>
            </ion-col>
          </ion-row>

        </ion-grid>

        <p>Blood Type</p>
        <ion-select interface="action-sheet" placeholder="Select One" [(ngModel)]="blood_type">
          <ion-select-option  value="1">A </ion-select-option>
          <ion-select-option  value="2">AB </ion-select-option>
          <ion-select-option  value="3">B </ion-select-option>
          <ion-select-option  value="4">O </ion-select-option>
        </ion-select>
      
      </div>
      <ion-button expand="block" (click)="onClick()">next</ion-button>
  <div>


    <!-- <ion-button expand="block" padding color="tertiary" *ngIf="employer_id>=1" (click)="updateProses()" fill="outline">
      Update
    </ion-button> -->
  </div>


  <!-- <ion-button color="tertiary"  (click)="createdProses()">Submit</ion-button>
    <ion-button class="sigin" block (click)="createdProses()" >Sign In</ion-button> -->
  <!-- <ion-button expand="block" padding color="tertiary" *ngIf="id>=1" (click)="updateProses()" fill="outline">Update
    </ion-button> -->


</ion-content>