<ion-header>
  <ion-toolbar>
    <ion-title>createMyjobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <p>Event Name</p>
    <ion-input type="text" placeholder="Event Name"></ion-input>

    <p>Event location</p>
    <ion-input type="text" placeholder="Event location"></ion-input>

    <ion-grid>

      <ion-row>
        <ion-col style="padding: 0px;">
          <p>Floor</p>
          <ion-input type="text" placeholder="floor"></ion-input>
        </ion-col>

        <ion-col style="padding: 0px 10px;">
          <p>Floor</p>
          <ion-input type="text" placeholder="floor"></ion-input>
          </ion-col >
   
      </ion-row>

      <ion-row>
        <ion-col style="padding: 0px;">
          <p>Budget</p>
          <ion-input type="text" placeholder="xxxx"  name="userCount"
            (keypress)="numberOnlyValidation($event)">
          </ion-input>
        </ion-col>


        <ion-col style="padding: 0px 10px;">
          <p>Budget</p>
          <ion-input type="text" placeholder="xxxx"  name="userCount"
            (keypress)="numberOnlyValidation($event)">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    
      
     
    <p>Number of people</p>
     <div class="flex_row">
     <ion-icon style=" width: 50px; height: 50px; margin-left:  30px;"  name="remove-circle" (click)="decrement() "></ion-icon>
      <p style="text-align: center; width: 100%;"> {{currentNumber}} </p>
      <ion-icon style="float: right; width: 50px; height: 50px; margin-right: 30px;" name="add-circle"(click)="increment()" ></ion-icon>
  
    </div>

  </div>



</ion-content>