@import  url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

h1{
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: 22px;
    font-weight: 800 !important;
}
h2{
    margin: 0;
    font-size: 20px;
    font-weight: 600 !important;
}

h3{
    margin: 0;
    padding: 18px 0 0 0;
    font-size: 18px;
    font-weight: 600 !important;
}
h4{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600 !important;
    float: left;
}
.line{
    width: 100px;
    background-color: #124AE5;
    border:#124AE5 solid 2px !important;
    margin: 10px 0 0 0;
    border-radius: 20px;
}
.subtext{
    font-size: 16px;
    color: #86868F;
}
.container{
    padding: 30px 20px 20px 20px;
   
}
// ion-content{
//     --background:#F9F9F9;
// }
.containers{
    padding: 20px 20px ;
   
}
ion-segment-button{
    --color: #86868F;
    --color-activated: #ffffff;
    --border-style:none;
    --background-checked:#124AE5;
    --padding-start:20px;
    --padding-end:20px;
    --background-hover:#ffffff;
    --background-activated:#ffffff;
    font-weight: 600;
    --padding-bottom:5px;
    --padding-top:5px;

}
// ion-toolbar{
//     --background:#F6F6F6;
//     --border-width: 0 !important;
// }

ion-item{
    --border-style: none;
}