<ion-tabs #tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="employer/homeem">
			<ion-icon name="home"></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="employer/myjobem">
			<ion-icon name="briefcase"></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="employer/bookmarkem">
			<ion-icon name="bookmark"></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="employer/notificationem">
			<ion-icon name="notifications"></ion-icon>	
		</ion-tab-button>

		<ion-tab-button tab="employer/profileem">
			<ion-icon name="contact"></ion-icon>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>