<ion-content>
  <div class="container">
    <h2 class="title">Let’s Get Started!</h2>
    <p>Create an account to Msily to get all features</p>

    <ion-input type="text" placeholder="Username"></ion-input>
    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    
    <ion-input type="password" placeholder="password" [(ngModel)]="password"  > </ion-input>
    <ion-input type="password" placeholder="Confirm Password" > </ion-input>

    <ion-radio-group slot="primary">


      <h4>Choose your field <span class="mark"> * Choose only one</span></h4>

      <ion-item>
        <ion-label>MC/PR/PC/Pretty</ion-label>
        <ion-radio value="apple"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Employer</ion-label>
        <ion-radio value="grape" checked></ion-radio>
      </ion-item>

    </ion-radio-group>

    <ion-button class="sigup" block (click)="prosesRegister()" >Create Account</ion-button>


    <h5>Already have an account? <a (click)="formLogin()">Sign In.</a></h5>

    <!-- <ion-buttons  slot="primary">
      <ion-button  class="sigin-f" block style="background: #124AE5;">Facebook</ion-button>
      <ion-button class="sigin-g" block style="background: #ffffff; border: 1px solid #6F6F6F;;">Google</ion-button>
    </ion-buttons> -->

  </div>
</ion-content>